{% extends 'cso_app/layouts/main.html' %}
{% load static %}
{% block content %}
<title>CSOA Authority - CSOA</title>
<link rel="stylesheet" href="{% static 'css/cso_about.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    #important_links{
        margin-top: -10em;
    }
    #authority p, #authority span, #authority li{
        font-size: 1.3em;
    }
    .title{
        text-align: center;
        text-decoration: underline;
        text-underline-offset: 8px;
    }
</style>

<div class="container" id="authority">
    <h3 class='title'>CSO Act & Rules</h3>
    <div class="row">
        <div class="col-md-auto">
            <span>The Civil Society Organizations Act was legislated by the 87th Session of the then Parliament of Bhutan in 2007, as a legislative framework to expedient the registration and establishment of the CSOs. The Authority was then established formally in 2009 and subsequently it’s Secretariat in 2010 as working registry & administrative unit. The acumen is to strengthen the civil society to uphold the customary humanitarian Bhutanese values to help the vulnerable section of the society aligned with the newly constituted democratic structure. As the custodian of the law, the Authority’s protagonist is to administer the overarching mandates of instituting the CSO’s establishment, regulating in line with the legislations enforced and as the nodal agency to represent the sector and facilitate to create conducive environment for the CSOs to perform at the pinnacle. <br>
            Subsequently, CSO Rules and Regulation was drafted in 2010 to establish a framework for oderly and harmonious functioning. It was later revised in 2017.
            <br>
            The 7th Session of the Third Parliament of Bhutan amended the Act on 15th July 2022.</span>
            <ul style="list-style: none;">
                <li><a href="{% static 'downloads/Rules and Regulation.pdf' %}" download>1. Rules and Regulations 2017 <i class="fa-solid fa-download"></i> Download & View</a></li>
                <li><a href="{% static 'downloads/CSO Act 2007 (Amendment 2022).pdf' %}" download>2. CSO Act 2007 (Amendment 2022) <i class="fa-solid fa-download"></i> Download & View</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row" id="important_links">
        {% include 'cso_app/layouts/important_links.html' %}
    </div>
</div>



{% include 'cso_app/layouts/footer.html' %}

{% endblock %}